# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.h
*.so
*.so.*
*.dylib
target/
obj-x86_64-linux-gnu/

# Editor exclusions
.vsls.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output folder of the coverage script
coverage/

# Generated code (translations/shell completions)
generated/

# Dependency directories (remove the comment below to include it)
vendor/
vendor_rust/

# Various files
conf/aad.conf

# Our CLI binary
bin/
/aad-cli
